.myBtn {
  padding: 5px 15px;
  color: white;
  font-size: 14px;
  background-color: teal;
  border: 2px solid teal;
  cursor: pointer;
}
.myBtn:hover {
  background-color: teal;
  color: teal;
  background: transparent;
}
